# 2022-11-08
#
# project: "BOOKS" ----> Database: BOOKS
#
# ms sql server express 2014 (SP2), OS Windwos 10 Enterprise Trial (SP2)
# mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm


# mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
# j@SIGMA02 MINGW64 ~/source/repos/BOOKS
#
# $ ls
# BOOKS-DB-Files/  BOOKS-DB-SQL/  FILES-Raznoe-sql-txt/  MS-SQL-Docs/
#
#
